<%if(title=='Examples'){%>
<style>
    .card {
    text-align: center;
    border: none;
    height: 50%;
    width: 50%;
margin: auto;  
 }
 .wht{
     border-bottom: 1px solid rgba(54, 24, 78, 0.157);
 }
 .card-img-top:hover{
    transform: scale(1.2);
    transition: 1s;
 
 }
 .heading{
    color: #3c0946ce;
    font-family: Rubik,Arial,Helvetica,serif;
    padding: 18px;
    font-size: 40px;
    font-weight: 500;

 }

 h2{
    color: #3c0946ce;
    font-family: Rubik,Arial,Helvetica,serif;
    padding: 18px;
    font-size: x-large;
    text-align: left;
    font-weight: 500;


 }
 .heeading{
    color: #3c09467c;
    font-family: Rubik,Arial,Helvetica,serif;
    padding: 18px;
    font-size: large;
    text-align: justify;
 }
 @media only screen and (max-width: 962px){
   .heading{
      font-size: 21px;  
   }
   .heeading{
      font-size: small;
   }
   
 }
 @media only screen and (max-width: 375px){
   .heading{
      font-size: 15px;  
   }
   .heeading{
      font-size: small;
   }
 }

</style>
<%}%>
<div class="container mt-5 check">
    <div class="row wow flash wht">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heading">A Curriculum vitae Vs. A Resume Differences
        </h1></div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">A resume is a concise one-page long summary of professional, personal and educational experiences. It contains a brief overview of your job qualifications and intends to grab the employers’ attention. Customize your document for every profession posting you are applying to. <br><br>
        
        A CV is a detailed version of your professional experience, education, knowledge of foreign languages, soft and hard skills. A CV provides the recruiter with more comprehensive information about your career goals, past achievements, professional education, and another important job achievement. CVs are made chronologically and do not require detail customization for different profession postings.</h1></div>  
    </div>
</div>
<div class="container mt-5 check">
    <div class="row wow flash ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>IT Industry - New Resume Examples
    </h2></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">This modern resume template is an exquisite, simple project which would be an excellent fit for more formal job applications e.g. in the IT industry.</h1></div>  
    </div>
    <div class="row wht mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  zoomInDown">
        <div class="card">
         <img class="card-img-top img-fluid" alt="img1" src="../static/IT ex1.png">
            <div class="card-body">
                <a class="btn btn-pink text-light" data-toggle="modal" data-target=".ITex1"> View Example-1</a>
            </div>
        </div>
        </div>   
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow zoomInLeft">
        <div class="card">
         <img class="card-img-top img-fluid" alt="img1" src="../static/IT ex2.png">
            <div class="card-body">
                <a class="btn btn-pink text-light" data-toggle="modal" data-target=".ITex2"> View Example-2</a>
            </div>
        </div>
        </div> 
    </div>



    <div class="container mt-5 check wht">
        <div class="row wow flash ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Work in Trade / Cashier / Dealer - Resume Examples

        </h2></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">Looking to get yourself a well-paid new job? If you’re applying for retail or management roles, this document layout is legible and stylish without being overbearing.</h1></div>  
        </div>
        <div class="row wht mt-5">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  zoomInDown">
            <div class="card">
             <img class="card-img-top img-fluid" alt="img1" src="../static/trade ex1.png">
                <div class="card-body">
                    <a class="btn btn-pink text-light" data-toggle="modal" data-target=".tradeex1"> View Example-1</a>
                </div>
            </div>
            </div>   
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow zoomInLeft">
            <div class="card">
             <img class="card-img-top img-fluid" alt="img1" src="../static/trade ex2.png">
                <div class="card-body">
                    <a class="btn btn-pink text-light " data-toggle="modal" data-target=".tradeex2"> View Example-2</a>
                </div>
            </div>
            </div> 
        </div>
        </div>


        <div class="container mt-5 check wht">
            <div class="row wow flash ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Production / Manufacture - Resume Templates (e.g. work in a factory on the production line)
            </h2></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">This free documents templates is the right choice for you if you are looking to accentuate a specified section of your document such as “Summary”, "Highlights" or "Experience".



            </h1></div>  
            </div>
            <div class="row wht mt-5">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  zoomInDown">
                <div class="card">
                 <img class="card-img-top img-fluid" alt="img1" src="../static/prod ex1.png">
                    <div class="card-body">
                        <a class="btn btn-pink text-light" data-toggle="modal" data-target=".prodex1"> View Example-1</a>
                    </div>
                </div>
                </div>   
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow zoomInLeft">
                <div class="card">
                 <img class="card-img-top img-fluid" alt="img1" src="../static/prod ex2.png">
                    <div class="card-body">
                        <a class="btn btn-pink text-light"data-toggle="modal" data-target=".prodex2"> View Example-2</a>
                    </div>
                </div>
                </div> 
            </div>
            </div>


            <div class="container mt-5 check wht">
                <div class="row wow flash ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Graphic Web Designer & Motion Graphic Designer - Resume Example with photo
                </h2></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">No need to be a graphic designer to make an aesthetic document. Just fetch ideas from given examples by just viewing and start filling it with your own Summary, Work History, Education, Certifications and other data.</h1></div>  
                </div>
                <div class="row wht mt-5">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  zoomInDown">
                    <div class="card">
                     <img class="card-img-top img-fluid" alt="img1" src="../static/grafdes ex1.png">
                        <div class="card-body">
                            <a class="btn btn-pink text-light" data-toggle="modal" data-target=".Grafdesex1"> View Example-1</a>
                        </div>
                    </div>
                    </div>   
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow zoomInLeft">
                    <div class="card">
                     <img class="card-img-top img-fluid"  alt="img1" src="../static/grafdes ex2.png">
                        <div class="card-body">
                            <a class="btn btn-pink text-light " data-toggle="modal" data-target=".grafdesex2"> View Example-2</a>
                        </div>
                    </div>
                    </div> 
                </div>
                </div>
</div>
<div class="container mt-5 check">
<div class="row wow flash wht">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heading">A few tips for writing a good Resume:
    </h1></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>The length of the document. </h2></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">While recruiting, the employer gets dozens of Resumes. While looking through the documents, they must select a few candidates who are most suitable for the position specified. For one document, the recruiter takes only a few seconds.<br>
            A Resume that is too long will not be read to the end, and at the same time a lot of information in the Resume will make it completely illegible. That is why it is good to use the minimum content to provide maximum information.
        </h1></div>  
       
</div>
<div class="row wow flash wht">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Links to portfolio, links to LinkedIn professional profile.
    </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">If you have a profile on LinkedIn, regularly updated, with a photo, add a link to your Resume.
        If you are a graphic designer or a photographer and you have a portfolio on Behance, add a link to your Resume.<br>
        If you are a developer you have an account on Github, add a web address to your Resume.
     </h1></div>  
    
</div> <div class="row wow flash wht">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Professional summary. </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">The job summary should be at the top of your Resume. The length of the summary should be between 3 and 5 sentences. The main purpose of the professional summary is to make the candidate's strengths, key skills and experience immediately visible. And to make the introduction interesting enough for the recruiter to read the other sections of the Resume. The form plays an important role. A professional summary should be like a short advertising spot, it should contain what is the most important, there must be keywords. After reading a few sentences of the summary, the employer will know what a certain person can bring to their company.
     </h1></div>  
    
</div> <div class="row wow flash wht">

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Soft and hard skills.</h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">Presenting the right combination of hard and soft skills in your Resume is essential for your Resume to receive a strong assessment in the eyes of your employer. A good combination of skills will show the employer that you are not only well prepared for a particular job, but that you will also be able to work well in a team and perform other important tasks related to your profession.<br>

        Hard skills - refer to the candidate's technical knowledge gained through teaching, training or experience. Technical skills are necessary to perform specific tasks.<br>
        
        Soft skills - these are personality features and habits that, among other things, describe how you work individually or with other people. Soft skills indirectly help to adapt to the work environment and company culture.
     </h1></div>  
    
</div> <div class="row wow flash wht">

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Professional experience. </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">Write the company name and position in bold. Enter the time frame (example: 01/2019 - 05/2020). At the top of the list, write the most important duties performed. Avoid large unreadable blocks. For clarity, always use bullet points. There is no need to include your entire career in your Resume. If there were many employers in your career path, it is worth focusing only on the last or most suitable position for which you are applying. The same applies to skills. Over time, there are more and more skills, but it is not always necessary to list them all. We should focus only on those skills that are relevant to the job profile.
    
</div></div> <div class="row wow flash wht">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Education. </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">List the schools you have completed by posting the most recent information also at the top of the section. It is worth mentioning completed courses, specialisations. Mark the whole section with start and end dates as well.
     </h1></div>  </div>
    
<div class="row wow flash wht">

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>Interests. </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">This section will be particularly useful for people who do not yet have much professional experience. Information about the candidate's hobbies can partly fill the competence gap. Information about hobbies will also prove useful for candidates whose interests are the driving force at work, thanks to their hobbies they are even better employees. For example, a person who is involved in winter sports, because of their hobby, knows the equipment they use very well, and will be the best advisor and salesman, answering all the questions of the sports shop customers.
    
</div> </div> <div class="row wow flash wht">

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h2>References. </h2></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">For many employers this is the most important column of the Resume.

        Example:<br>
        
        McDonald's<br>
        Mgmt. Thomas Maverick, (+1) 777 888 777, thomas.maverick@mcdonalds.com<br>
        or<br>
        References available on request.<br><br>
     </h1></div> </div>
    
</div>
</div>
</div>
</div>

<!-- Large modal -->
<div class="modal fade ITex1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/IT ex1.png">
</div>
</div>
</div>


<div class="modal fade ITex2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/IT ex2.png">
</div>
</div>
</div>


<div class="modal fade tradeex1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/trade ex1.png">
</div>
</div>
</div>


<div class="modal fade tradeex2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/trade ex2.png">
</div>
</div>
</div>


<div class="modal fade prodex1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/prod ex1.png">
</div>
</div>
</div>


<div class="modal fade prodex2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/prod ex2.png">
</div>
</div>
</div>


<div class="modal fade Grafdesex1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/grafdes ex1.png">
</div>
</div>
</div>


<div class="modal fade grafdesex2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <img class=" img-fluid" alt="img1" src="../static/grafdes ex2.png">
</div>
</div>
</div>