<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="style.js"></script>

<style>
    
.form{
   width:80%; 
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;
    

}
.emp{
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 4px;
}
.addicon{
  color: rgb(84, 55, 138);
  padding: 7px;
}

.skill1{
  padding-right: 10px;
  margin-bottom: 3px;
}

.btn-secondary{
  margin-left: 90px;
  margin-top: 30px;
  background-color: rgb(81, 32, 187);

}

*{
  font-size: medium;
}
.card{
  text-align: unset;
  height: 20%;
}
        
.SuperMainDiv{
  display: flex;
  margin-top: 4%;
  
}



.main {
        background-color: black !important;
        padding-left:15px !important;
        padding-top: 5px !important;
        padding-bottom: 15px !important;


    }
    h6 , h5{
        
        color:white !important;
    }
    p{
      font-size: x-small;
    }

  
    .innerinfo{
        margin:20px;
        margin-top: 2px;
    }
    .mycolumn{
      height: 650px;
      margin-top: 25px;
     
   }
   h4{
    font-size: x-small;
     font-weight: 800;
   }
   h3{
    font-weight: 700;
    font-size: xx-small;

   }
 
</style>

<body>
   <!-- NAVBAR -->
 
<div class="SuperMainDiv">  
      <div class="form">
        <form class="row g-3" method="POST" href="/templates/:id?">
          <div class="col-md-6">
            <label for="text" class="form-label">First Name</label>
            <input required type="text" class="form-control" id="FName" name="FName" onkeyup="changeFN()" value="<%= biodata.FName != 'undefined' ? biodata.FName : '' %>" placeholder="First Name">
          </div>
          <div class="col-md-6">
            <label for="text" class="form-label">Last Name</label>
            <input required type="text" class="form-control" id="LName" name="LName" onkeyup="changeLN()" value="<%= biodata.LName != 'undefined' ? biodata.LName : '' %>" placeholder="Last Name">
          </div>
          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" onkeyup="changeAddress()" 
            value="<%= biodata.Address != 'undefined' ? biodata.Address : '' %>" name="address" id="address" placeholder="Enter Your Address">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
          <!-- <input required type="email" id="ID" name="email" onkeyup="changeID()" 
            value="<%= biodata.Email != 'undefined' ? biodata.Email : '' %>"  placeholder="Enter Your Email"> -->          
          </div>
          <div class="col-md-6">
            <label for="text" class="form-label">Phone No.</label>
             <input type="email" class="form-control" id="exampleFormControlInput1" >
             <!--<input type="text" id="phone" name="Phone" onkeyup="changeph()" 
              value="<%= biodata.Phone != 'undefined' ? biodata.Phone : '' %>" placeholder="Enter Your Phone Number">   -->      
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Objective</label>
            <input type="text" id="obj" name="obj" onkeyup="changeobj()" 
                value="<%= biodata.obj != 'undefined' ? biodata.obj : '' %>"  class="form-control"  placeholder="objective">   
          </div>
          <div class="emp">
            <label for="text" class="form-label">Employement Details</label>
            <div class="input-group">
              <span class="input-group-text">
                <input type="text" id="where" name="where" onkeyup="changeWhere()" 
                value="<%= biodata.Where != 'undefined' ? biodata.Where : '' %>"  class="form-control" placeholder="Where">
                <input type="text" id="when" name="when" onkeyup="changeWhen()" 
                value="<%= biodata.When != 'undefined' ? biodata.When : '' %>"  class="form-control"  placeholder="When">
                <input type="text" id="Desig" name="Desig" onkeyup="changeDesig()" 
                value="<%= biodata.Desig != 'undefined' ? biodata.Desig : '' %>"  class="form-control" placeholder="Designation">
            </div>
            <div class="input-group">
              <span class="input-group-text">
                <input type="text" name="where2" id="where2" onkeyup="changeWhere2()" 
                value="<%= biodata.Where2 != 'undefined' ? biodata.Where2 : '' %>"  class="form-control" placeholder="Where">
                <input type="text" name="when2" id="when2" onkeyup="changeWhen2()" 
                value="<%= biodata.When2 != 'undefined' ? biodata.When2 : '' %>"  class="form-control"  placeholder="When">
                <input type="text" name="Desig2" id="Desig2" onkeyup="changeDesig2()" 
                value="<%= biodata.Desig2 != 'undefined' ? biodata.Desig2 : '' %>"  class="form-control" placeholder="Designation">
            </div>
            <div class="input-group">
              <span class="input-group-text">
                <input type="text" name="where3" id="where3" onkeyup="changeWhere3()" 
                value="<%= biodata.Where3 != 'undefined' ? biodata.Where3 : '' %>"  class="form-control" placeholder="Where">
                <input type="text" name="when3" id="when3" onkeyup="changeWhen3()" 
                value="<%= biodata.When3 != 'undefined' ? biodata.When3 : '' %>"  class="form-control"  placeholder="When">
              <input type="text" name="Desig3" id="Desig3" onkeyup="changeDesig3()" 
              value="<%= biodata.Desig2 != 'undefined' ? biodata.Desig2 : '' %>"  class="form-control" placeholder="Designation">
            </div>
            <a href="#"><i class="fa fa-plus-circle fa-1x addicon" aria-hidden="true"></i></a>
            </div>              
            <div class="emp">
            <label for="text" class="form-label">Educational Background</label>
            <div class="input-group">
                <span class="input-group-text">
                <input type="text"  name="edu" id="edu" onkeyup="changeedu()" 
                value="<%= biodata.edu != 'undefined' ? biodata.edu : '' %>" class="form-control"  placeholder="Institution">
                <input type="text"  name="degree" id="degree" onkeyup="changedegree()" 
                value="<%= biodata.degree != 'undefined' ? biodata.degree : '' %>" class="form-control" placeholder="Degree">
                <input type="text"  name="field" id="field" onkeyup="changefield()" 
                value="<%= biodata.field != 'undefined' ? biodata.field : '' %>" class="form-control" placeholder="Field of study">
              </div>
                <div class="input-group">
                  <span class="input-group-text">
                      <input type="text"  name="edu2" id="edu2" onkeyup="changeedu2()" 
                  value="<%= biodata.edu2 != 'undefined' ? biodata.edu2 : ''%>" class="form-control"  placeholder="Institution">
                      <input type="text" name="degree2" id="degree2" onkeyup="changedegree2()" 
                  value="<%= biodata.degree2 != 'undefined' ? biodata.degree2 : ''%>" class="form-control" placeholder="Degree">
                      <input type="text"  name="field2" id="field2" onkeyup="changefield2()" 
                  value="<%= biodata.field2 != 'undefined' ? biodata.field2 : ''%>" class="form-control" placeholder="Field of study">
                </div>
                <a href="#"><i class="fa fa-plus-circle fa-1x addicon" aria-hidden="true"></i></a>
              </div>
              <div class="emp">
                <label for="text" class="form-label">Interest</label>
                  <div class="input-group">
                    <span class="input-group-text">
                    <input type="text"  class="form-control" id="int_1" name="int_1"
                    onkeyup="changeint1()" value="<%= biodata.int_1 != 'undefined' ? biodata.int_1 : ''%>" placeholder="Interest">
                    <input type="text"  class="form-control" id="int_2" name="int_2"
                    onkeyup="changeint2()" value="<%= biodata.int_2 != 'undefined' ? biodata.int_2 : ''%>" placeholder="Interest">
                    <input type="text"  class="form-control" id="int_3" name="int_3"
                    onkeyup="changeint3()" value="<%= biodata.int_3 != 'undefined' ? biodata.int_3 : ''%>" placeholder="Interest">
                  </div>
                  <a href="#"><i class="fa fa-plus-circle fa-1x addicon" aria-hidden="true"></i></a>
              </div>
              
              <div class="col-md-5 add">
                <div class="skill1">
                  <label for="input" class="form-label">Skills </label>
                </div>
                <div class="skill1">
                  <input type="text" class="form-control" name="skill_1" id="skill_1" onkeyup="changeSkill_1()" value="<%= biodata.skill_1 != 'undefined' ? biodata.skill_1 : '' %>">
                </div>
                <div class="skill1">
                  <input type="text" class="form-control" name="skill_2" id="skill_2" onkeyup="changeSkill_2()" value="<%= biodata.skill_2 != 'undefined' ? biodata.skill_2 : '' %>">
                </div>
                <div class="skill1">
                  <input type="text" class="form-control" name="skill_3" id="skill_3" onkeyup="changeSkill_3()"value="<%= biodata.skill_3 != 'undefined' ? biodata.skill_3 : '' %>">
                </div>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input #1a4567" id="mycolor" name="myradio" onchange="colorchange(value);" value="#1a4567">
                <label class="form-check-label" for="blue">Blue</label>
              </div>
              
              <!-- Material checked -->
              <div class="form-check">
                <input type="radio" class="form-check-input rgb(134, 17, 17)" id="mycolor" name="myradio" onchange="colorchange(value);" value="rgb(134, 17, 17)">
                <label class="form-check-label" for="red">red</label>
              </div>
              <div class="form-check">
                  <input type="radio" class="form-check-input rgb(44, 83, 12)" id="mycolor" name="myradio" onchange="colorchange(value);" value="rgb(44, 83, 12)">
                  <label class="form-check-label" for="darkgreen">darkgreen</label>
                </div>
                
              <!--  Material checked -->
                <div class="form-check">
                  <input type="radio" class="form-check-input black" id="mycolor" name="myradio" onchange="colorchange(value);" value="black">
                  <label class="form-check-label" for="black">Black</label>
                </div>
              <div class="button"> 
                <input type="submit" name="submit" class="btn btn-secondary" value="Save Edits"></input>
              </div>  
            </div>  
        </form>
    
  <div class="mycolumn">
    <div class="card">
      <div class="container main">
          <h5>
              <%=appuser.FName %> <%=appuser.LName %> 
          </h5>    
          <h6><%=appuser.email %></h6>
          <h6>
              <%=appuser.Phone %>
          </h6>
      </div>
      <div class="container innerinfo">
          <!-- objective-->
        <div class="writtenhead"> 
          <div>
  
              <h4>
                 
                      OBJECTIVE:
                
              </h4>
              <div id="obj">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ratione optio aspernatur explicabo liberojbxbjquo dolore voluptatibus Lorem ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos sit id. </p>
              </div>
          </div>
          <!-- Experience-->
          <div>
              <h4>
                 
                     SKILLS:
                       
              </h4>
              <div id="exp">
                <p>
                 
                      Lorem, ipsum.
  
                 
                      Lorem, ipsum.lorem5lorem4 Lorem ipsum dolor sit amet.
  
                  
                      Lorem, Lorem ipsum dolor sit amet consectetur.
  
                 
                  
              </div>
          </div> </p>
          <div>
              <h4>
  
             
                 WORK EXPERIENCE:
                  
              </h4>
              <div id="exp">
                <h3>
                 
                      Lorem, ipsum.
  
                   </h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                  <h3>
                      Lorem, ipsum.
  
                  </h3> 
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                  <h3>
                      Lorem, Lorem ipsum dolor sit amet consectetur.
  
                  </h3> 
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde. ipsum dolor, sit amet consectetur adipisicing.</p>
                  
              </div>
              
          </div>
          <div>
              <h4>
                 EDUCATION:
              </h4>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. sit amet consectetur -----.2018</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.-------- 2016</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.-------- 2014 </p>
          </div>
          <div>
              <h4>
                 INTEREST:
              </h4>
              <p>adipisicing elit.<br>
              t amet consectetur <br>
              Lorem ipsum  <br>
             <i class="fa fa-music" aria-hidden="true"></i> skhdkmipsum  </p>
          </div>
      </div>
      </div>
    </div>
         
  <!-- </div>
    <%if(template_number=='1'){ %>
      <%- include('./template1.ejs')%>
    <%} else if (template_number=='2'){%>  
      <%- include('./template2.ejs')%>
    <%} else if (template_number=='3'){%>  
      <%- include('./template3.ejs')%>
      <%}%> -->
            
  </div> 
  </div>
</div> 

</body>