
<section class="text-gray-700 body-font">
  <div class="container px-5 py-20 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">CONNECT WITH US!</h1>
      <p ><img id="picture" src="/static/signup.png" alt="Img error"></img></p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
      <form method="POST" action="/signup">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input required type="text" name="F_name" class="form-control" placeholder="First Name" value="<%= typeof F_name != 'undefined' ? F_name : '' %>" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Last Name</label>
            <input required type="text" name="L_name" placeholder="Last Name" value="<%= typeof L_name != 'undefined' ? L_name : '' %>"class="form-control" id="inputEmail4">
          </div>
        </div>
        <div class="form-group relative mb-4">
            <label for="email inputEmail" class="leading-7">Email</label>
            <input required type="email" placeholder="Enter your email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-purple-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out form-control" value="<%= typeof email != 'undefined' ? email : '' %>"id="inputEmail">
            
          </div>
          <div class="form-group">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="min 6 characters alphanumeric characters">
          </div>
          <div class="form-group">
            <label for="inputAddress">Phone no.</label>
            <input type="text" class="form-control" name="phone" placeholder="Enter your Phone no" value="<%= typeof phone != 'undefined' ? phone : '' %>" id="inputAddress">
          </div>
      
      <button type="submit" class="text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg">Sign up</button>
    </div>
  </div>
</section>
</div>

