<div class="container mt-5 check">
    <div class="row wow flash wht">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heading">CHOOSE YOUR TEMPLATE</h1></div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">PRIORITY TO SKILLS</h1></div>  
    </div>
    
    <div class="row mt-5">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 wow zoomInDown">
        <div class="card">
            <a href=" /templates/1_red">
                <img class="card-img-top img-fluid" alt="img1" src="../static/1red.JPG">
            </a>
            <div class="card-body">
                <a class="btn btn-pink text-light" href=" /templates/1_red"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
            </div>
        </div>
        </div>   
        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInLeft">
        <div class="card">
            <a href=" /templates/1_black">
                <img class="card-img-top img-fluid" alt="img1" src="../static/1black.JPG">
            </a>
            <div class="card-body">
                <a class="btn btn-pink text-light " href=" /templates/1_black"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
            </div>
        </div>
        </div> 
        

        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInRight">
        <div class="card">
            <a href=" /templates/1_green">
                <img class="card-img-top img-fluid" alt="img1" src="../static/1green.JPG">
            </a>
            <div class="card-body">
                <a class="btn btn-pink text-light" href=" /templates/1_green"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
            </div>
        </div>
        </div> 
        
        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInUp">
        <div class="card">
            <a href=" /templates/1_blue">
                <img class="card-img-top img-fluid" alt="img1" src="../static/1blue.JPG">
            </a>
            <div class="card-body">
                <a class="btn btn-pink text-light" href=" /templates/1_blue"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
            </div>
        </div>
        </div> 
    </div>
    </div>
    </div>

    <div class="container mt-5 check">
      <div class="row wow flash wht">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><h1 class="heeading">PRIORITY TO WORK EXPERIENCE</h1></div>  
      </div>
      
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 wow zoomInDown">
          <div class="card">
            <a href=" /templates/2_green">
                <img class="card-img-top img-fluid" alt="img1" src="../static/2green.JPG">
            </a>
              <div class="card-body">
                  <a class="btn btn-pink text-light" href=" /templates/2_green"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
              </div>
          </div>
          </div>   
          
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInLeft">
          <div class="card">
            <a href=" /templates/2_blue">
                <img class="card-img-top img-fluid" alt="img1" src="../static/2blue.JPG">
            </a>
              <div class="card-body">
                  <a class="btn btn-pink text-light " href=" /templates/2_blue"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
              </div>
          </div>
          </div> 
          

          
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInRight">
          <div class="card">
            <a href=" /templates/2_red">
                <img class="card-img-top img-fluid" alt="img1" src="../static/2red.JPG">
            </a>
              <div class="card-body">
                  <a class="btn btn-pink text-light" href=" /templates/2_red"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
              </div>
          </div>
          </div> 
          
          
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  wow zoomInUp">
          <div class="card">
            <a href=" /templates/2_black">
                <img class="card-img-top img-fluid" alt="img1" src="../static/2black.JPG">
            </a>
              <div class="card-body">
                  <a class="btn btn-pink text-light" href=" /templates/2_black"><i class="fa fa-cart-plus" aria-hidden="true"></i> Use this template</a>
              </div>
          </div>
          </div> 
      </div>
      
      
      </div>
      </div>